*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin: 0;
}

#root, #__next {
  isolation: isolate;
}
::placeholder{
  color: #1E3B97;
}

a{
  text-decoration: none;
}


@font-face {
  font-family: mediumFont;
  src: url(/public/assets/font/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
}

@font-face {
  font-family: roboto-400;
  src: url(/public/assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-500;
  src: url(/public/assets/font/Roboto-Medium.ttf);
}

@font-face {
  font-family: poppins-500;
  src: url(/public/assets/font/Poppins-Medium.ttf);
}

@font-face {
  font-family: Abhaya-500;
  src: url(/public/assets/font/AbhayaLibre-Medium.ttf);
}